<!--p>login works!</p-->

<div class="container mt-4 m0-auto p-3">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <h1 style="text-align: center;" i18n>Iniciar sesión</h1>
    <div class="form-group">
      <label for="uname" i18n><b>Correo electrónico</b></label>
      <input
        class="form-control"
        type="email"
        placeholder="Correo electrónico"
        name="email"
        formControlName="email"
        required
        id="email"
      />
    </div>
    <div class="form-group">
      <label for="password" i18n><b>Contraseña</b></label>
      <input
        class="form-control"
        type="password"
        placeholder="Ingresa contraseña"
        name="password"
        formControlName="password"
        required
        id="password"
      />
    </div>
    <button type="submit" class="btn btn-primary mb-2 w-100 m-0" i18n>
      Iniciar sesión
    </button>
    <a class="btn btn-link mb-2 w-100 m-0" [routerLink]="['/register']" i18n>
      Regístrate
    </a>
    <p>
      <label class="m-0 w-100" i18n>
        <input type="checkbox" checked="checked" name="remember" />
        Recuérdame
      </label>
    </p>
    <p>
      <span class="psw" i18n>¿Olvidaste tu <a href="#">contraseña?</a></span>
    </p>
  </form>
</div>
