@import "../../../styles/mixins";

.main {
  padding: 30px 20px;
  width: 100%;
  display: block;
  min-height: calc(100vh - 56px);

  .my-slide {
    display: flex;
    justify-content: space-between;
  }
}

::ng-deep .carousel-indicators li {
  background-color: black !important;
}

@include cellphone {
  .main {
    display: block;

    .my-slide {
      flex-wrap: wrap;
    }
  }
}
