@import "../../../styles/mixins";

.main {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  min-height: 180vh;
  .slide{
    padding-top:780px;
  }
}

@include cellphone {
  .main {
    display: block;
  }
}
