<div class="author-card pb-3">
  <div
    class="author-card-cover"
    style="
      background-image: url(https://demo.createx.studio/createx-html/img/widgets/author/cover.jpg);
    "
  ></div>
  <div class="author-card-profile">
    <div class="author-card-avatar">
      <img
        src="https://res.cloudinary.com/miguelgt98/image/upload/v1591555931/viwfiqssoryy4acrcnhz.webp"
        alt="Miguel Gallardo"
      />
    </div>
    <div class="author-card-details">
      <h5 class="author-card-name text-lg">Miguel Gallardo</h5>
      <span class="author-card-position">Se unió el 28 de marzo de 2020</span>
    </div>
  </div>
</div>
<div class="wizard">
  <nav class="list-group list-group-flush">
    <a class="list-group-item active" href="#"
      ><i class="fe-icon-user text-muted"></i>Ajustes de perfil</a
    >
    <a class="list-group-item" href="#"
      ><i class="fe-icon-map-pin text-muted"></i>Mis mensajes</a
    >
  </nav>
</div>
