<!--p>about works!</p-->

<div class="about-wrapper m-3 p-5">
    <h1>Quienes Somos</h1>
    <br>
    <p i18n>
      Somos un grupo de estudiantes del Tec de Monterrey que desea poder encontrarles un hogar digno a los perros que
      se encuentran en estado de adopción. </p>
    <p i18n>Con ayuda de nuestros Cuidadoges (personas quienes dan en adopción), nuestros
      Adogtadores (personas que adoptan) y de esta plataforma, queremos lograr esto, uniendo perros con personas.</p>

    <p i18n>Queremos que esta plataforma ayude a encontrar al perro ideal para cada futuro dueño.</p>


  </div>
