<div class="my-profile-wrapper">
  <div
    id="success"
    class="modal fade bd-example-modal-sm"
    tabindex="-1"
    role="dialog"
    aria-labelledby="mySmallModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <h6 class="modal-title text-white">Éxito</h6>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
      </div>
    </div>
  </div>
  <div
    id="error"
    class="modal fade bd-example-modal-sm"
    tabindex="-1"
    role="dialog"
    aria-labelledby="mySmallModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h6 class="modal-title text-white">Error</h6>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <app-navigation
        class="col-lg-4 pb-5"
        [user]="user$"
        *ngIf="user$"
      ></app-navigation>
      <app-details
        class="col-lg-8 pb-5"
        [user]="user$"
        *ngIf="user$"
      ></app-details>
    </div>
  </div>
</div>
