<div class="col-lg-8 pb-5">
    <form class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="account-fn">Nombre(s)</label>
                <input class="form-control" type="text" id="account-fn" value="Miguel" required="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="account-ln">Apellidos</label>
                <input class="form-control" type="text" id="account-ln" value="Gallardo" required="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="account-email">Correo electrónico</label>
                <input class="form-control" type="email" id="account-email" value="miguel.gallardo@ejemplo.com" disabled="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="account-phone">Número telefónico</label>
                <input class="form-control" type="text" id="account-phone" value="55 5555 5555" required="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="account-pass">Nueva contraseña</label>
                <input class="form-control" type="password" id="account-pass">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="account-confirm-pass">Confirmar contraseña</label>
                <input class="form-control" type="password" id="account-confirm-pass">
            </div>
        </div>
        <div class="col-12">
            <hr class="mt-2 mb-3">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <button class="btn btn-style-1 btn-primary" type="button" data-toast="" data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Completado" data-toast-message="Your profile updated successfuly.">Actualizar perfil</button>
            </div>
        </div>
    </form>
</div>