<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top fixed-top">
  <a class="navbar-brand" [routerLink]="['/app']">
    🐕 Fluffy Friends
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarNav"
    [ngClass]="{ show: navbarOpen }"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/app']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/friends']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Mis friends</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/friends/new']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Nuevo friend</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/profile']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Mi perfil</a
        >
      </li>
    </ul>
  </div>
</nav>
