<div class="info-wiki">
  <h2>Golden Retriever</h2>
  <p>
    The Golden Retriever is a medium-large gun dog that was bred to retrieve
    shot waterfowl, such as ducks and upland game birds, during hunting and
    shooting parties.[3] The name "retriever" refers to the breed's ability to
    retrieve shot game undamaged due to their soft mouth. Golden retrievers have
    an instinctive love of water, and are easy to train to basic or advanced
    obedience standards. They are a long-coated breed, with a dense inner coat
    that provides them with adequate warmth in the outdoors, and an outer coat
    that lies flat against their bodies and repels water. Golden retrievers are
    well suited to residency in suburban or country environments.[4] They shed
    copiously, particularly at the change of seasons, and require fairly regular
    grooming. The Golden Retriever was originally bred in Scotland in the
    mid-19th century.
  </p>
  <a href="https://en.wikipedia.org/wiki/Golden_Retriever">Learn more</a>
  <div>
    <div style="chart-container">
      <canvas id="chart" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>