<div class="info-wiki">
  <h2 i18n>Golden Retriever</h2>
  <p i18n>
    El golden retriever o cobrador dorado es una raza de perro que se desarrolló en el Reino Unido, más concretamente en
    Escocia, alrededor de 1850. Con sus características de perro cobrador, sabueso, bloodhound y spaniel de agua, es un
    hábil perro de caza con aptitudes para el rastreo. Posee una disposición amigable y una actitud que lo ha convertido
    en
    la tercera raza familiar más popular —mediante registro— en los Estados Unidos,​el quinto más popular en Australia,y
    la octava raza más popular en el Reino Unido.
  </p>
  <a href="https://es.wikipedia.org/wiki/Golden_retriever" i18n>Conoce más</a>
  <div>
    <div style="chart-container">
      <canvas id="chart" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>