<div class="friend-wrapper">
  <app-dog-card
    name="{{ friend.name }}"
    url="{{ friend.image.url }}"
  ></app-dog-card>
  <form>
    <div class="form-group">
      <label for="name">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Ingresa nombre"
        value="{{ friend.name }}"
      />
    </div>
    <div class="form-group">
      <label for="name">Características</label>
      <select class="form-control" id="characteristics" name="characteristics">
        <option>Docil</option>
        <option>Juguetón</option>
        <option>Amable</option>
      </select>
    </div>
    <div class="form-group">
      <label for="images">Images</label>
      <input type="file" class="form-control-file" id="images" name="images" />
    </div>
    <div class="form-group">
      <div id="preview-files"></div>
    </div>
    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="4"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">
      Actualizar datos
    </button>
    <button type="submit" class="btn btn-link mb-2">
      Cancelar
    </button>
  </form>
</div>
