<!--p>integrantes works!</p-->
<div class="integrantes container m-auto">
    <h1 class="text-center mt-4 mb-4">Conoce al equipo</h1>
    <div class="row">
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="../images/loco.jfif" alt="anne" />
          <div class="card-body">
            <h5 class="card-title">José Alejandro Muñoz Orozco</h5>
            <p class="card-text">
              Soy Alejandro. Tengo mucho interés sobre el desarrollo de
              aplicaciones móviles y web y disfruto aprender sobre nuevas
              cosas involucradas con el desarrollo de software en general.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="../images/mike.jfif" alt="anne" />
          <div class="card-body">
            <h5 class="card-title">José Miguel Gallardo Tabares</h5>
            <p class="card-text">
              Soy Miguel, estudiante de 8vo semestre de la carrera ITC en el
              Tec de Monterrey CCM. Mi pasión es el desarrollo web y las
              películas de terror.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="../images/anne.jpg" alt="anne" />
          <div class="card-body">
            <h5 class="card-title">Anne Constanze Schreiber Brito</h5>
            <p class="card-text">
              Soy estudiante del Tec de Monterrey, cursando 8vo semestre de la
              carrera ITC (Ingeniería en Tecnologías Computacionales)
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="../images/genel.jfif" alt="anne" />
          <div class="card-body">
            <h5 class="card-title">José Gustavo Genel Castañeda</h5>
            <p class="card-text">
              Estudiante de último semestre de la carrera ITC, apasionado por
              la seguridad informática. Amante de los perros y los corgis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
