<div class="friends-wrapper">
  <div
    id="error"
    class="modal fade bd-example-modal-sm"
    tabindex="-1"
    role="dialog"
    aria-labelledby="mySmallModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h6 class="modal-title text-white">Error</h6>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped table-bordered table-responsive-sm">
    <thead>
      <tr>
        <th scope="col" i18n>Nombre</th>
        <th scope="col" i18n>Ubicación</th>
        <th scope="col" i18n>Matches</th>
      </tr>
    </thead>
    <tbody *ngFor="let friend of friends$">
      <tr>
        <td>
          <img src="{{ friend.image }}" /><a
            routerLink="edit/{{ friend._id }}"
            >{{ friend.name }}</a
          >
        </td>
        <td>{{ friend.location }}</td>
        <td>{{ friend.likes }}</td>
      </tr>
    </tbody>
  </table>
</div>
